@import url('https://fonts.cdnfonts.com/css/sf-pro-display?styles=98770');

@font-face {
    font-family: SFPro;
    src: url("fonts/SF-Pro-Display-Bold.otf") format("opentype");
}

body {
    margin: 0;
    padding: 0;
    font-family: SFPro, 'SF Pro Display', sans-serif;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    flex-direction: column; /* Updated to column for simplicity */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 50px;
}

.mem {
    font-size: 30px;
    font-weight: 0;
}

.date {
    font-size: 25px;
}

.text-container {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px; /* Added margin to create space between text and photo */
}

.image-container img {
    max-width: 100%; /* Make the image responsive */
    height: auto;
    max-height: 600px; /* Set a maximum height for the image */
}

@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .text-container {
        padding: 20px;
        margin-bottom: 0; /* Reset margin for desktop view */
    }
}

.streambt {
    background-color: #ffffff;
    color:#000000;
    font-size: 20px;
    padding: 10px 25px ;
    transition: 0.2s;
    margin: 0 5px;
    border: none;
    text-decoration: none;
    padding: 15px 32px;
}

.streambt:hover {
    background-color: #000000;
    color:#ffffff;
    transition: 0.2s;
    border: 8px;
    border-color: #ffffff;
}